*{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F0F1FF;
}
h1{
    font-size: 33px;
    color: #282e44;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left:4%;
    margin-right:4%;
}
span{
    font-size: 20px;
    color: #282e44;
}
.input1{
    padding: 10px 20px;
    border: 1px solid rgb(124, 121, 121);
    border-radius: 4px;
    font-size: 17px;
    width:313px;
    background-color: #F0F1FF;
}
.form_flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin-left: 4.5%;
    margin-right: 4.5%;
}
.div{
    justify-content: end;
}
.item{
    margin-bottom: 7%;
}
.btn{
    color:#f0fff1;
    background-color: #282e44;
    border: none;
    padding: 15px 40px;
    font-size: 15px;
    margin-top:2%;
    margin-bottom: 2%;
}
.btn:hover{
    background-color: #394161;
}
.btn{
    display: flex;
    justify-content: center;
}

ul {
    text-align: right;
     background-color: rgba(43, 43, 87,90%);
     height: 60px;
     padding-top: 15px;
     box-shadow: 0px 2px 2px rgb(0 0 0 / 19%);
     margin-bottom: 4%;
 }
 
 li {
     display:inline;
     padding: 20px 8px;
     margin-right: 13px;
 }
 ul li a{
   padding: 7px 7px;
   font-size: 14px;
   letter-spacing: 0.08em;
   color: rgb(244, 236, 255);
   text-decoration: none;
 }
 ul a:hover {
     background-color: rgba(43,47,87,80%);
     font-size: 15px;
     border-radius: 4px;
 }

 #thank-you-message {
     background-color: rgb(198, 241, 200);
     border: rgb(0, 214, 0) 2px solid;
     border-radius: 4px;
     padding: 12px 0px;
     text-align: center;
     margin-left: 4.5%;
     margin-right: 4.5%;
     color: #282e44;
    display: none;
  }
  
  #thank-you-message.show {
    display: block;
  }
@media (min-width: 768px) {
    h1{
        font-size: 45px;
    }
    a{
        font-size: 25px;
    }
    button{
        font-size: 15px;
    }
    input{
        font-size: 20px;
    }
    ul a{
        font-size: 16px;
    }
    ul a:hover {
        font-size: 17px;
    }
}
#otppopup{
  position: absolute;
  background-color: white;
  visibility: hidden;
  width:80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:35px;
  z-index:101;
}
#otpf{
  display:flex;
  align-items: center;
  flex-direction: column;
}

#otp1{
      font-size: 18px;
      padding-bottom: 12px;
      margin-bottom: 10px;
      border: none;
      border-bottom: 1px solid #ccc;
      width: 90%;
      outline: none;
  }
  #otpverify{
      background-color: rgb(54, 54, 65);
      color: white;
      font-size: 20px;
      width:90%;
      padding: 10px 40px;
      cursor: pointer;
      margin-top: 4px;
  }
  .close{
      font-size: 40px;
      font-weight:900;
      color: rgb(54, 41, 104);
      cursor: pointer;
  }
  a{
    position: relative;
    color:white;
    text-decoration: none;
    top:10px;
    cursor: pointer;
  }
  a:hover{
    font-size: 18px;
  }
  #bg{
    z-index: 100;
  }


